#start-btn
{
    width: 40%;
} 
#result1,#result2,#result3
{
    width:360px;
    height: 250px;
    border: 10px solid grey;
}
#camera
{
    width:360px;
    height: 250px;
    border: 5px solid grey;
}
#message_box
{
    width: 300px;
}
